Localization
{
	en-us
	{
		//"#LOC_KPDynamics_"

		#LOC_KPDynamics_Capping = Capping
		#LOC_KPDynamics_ToggleCapping = Toggle Capping
		#LOC_KPDynamics_DisableCapping = Disable Capping
		#LOC_KPDynamics_EnableCapping = Enable Capping
    }
}




